.navbar{
    height: 6vh;
}

.navbar-brand {
    font-size: 2.5vh !important;
}

.block_floor{
    display: inline-flex;
    color:#6246ea;
}

.title{
    display: inline-flex;
    width:40vw;
    height: 5vh;
    margin: 1.5vh 0;
}

.input_title {
    height: 4vh !important;
}

.box_size{
    height: 4vh !important;
}



.box{
    display: grid;
    border-radius:1vh;
    border:solid 1px #6246ea;
    margin:0.3vh;
    height: 100%;
    width: 100%;
}

.inputted{
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: #6246ea;
    display: grid;
}

.inputted i {
    padding-top: 0.75vh;
    align-items: start;
}

.inputtedbox{
    border:solid 1px #6246ea;
    margin:0.3vh;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    background: #eff0f3;
    color: #6246ea;
    font-size: 150%;
}

#wrap{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 0px;
}

.block{
    height: 70vh;
    width: 70vh;
}

.input_box {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1vh;
    background: #eff0f3;
    text-align: center;
    color: #6246ea;
    font-size: 150%;
}

.input_box_out {
    height: 100%;
    width: 30%;
    margin: 0.3vh;
}

.block_floor{
    height: 100%;
    width: 100%;
}

.box_size_select{
    height: 100%;
    margin-bottom: 0px;
    background-color: #eff0f3;
}

.print_block{
    display: none;
}

.main{
    position: relative;
}

#my_link{
    position: absolute;
    color: #6246ea;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 2.4vw;
}

#print_btn{
    margin: 3vh 0;
}

.box_size{
    display: inline-flex;
    margin-left: 1vw;
    height: 38px;
    background-color: #eff0f3;
    color: #6246ea;
}

select{
    outline-color: #6246ea;
}

.line3{
    width: 100%;
    height: 30%;
    margin: 0.6vh;
}

.line5{
    width: 100%;
    height: 18%;
    margin: 0.6vh;
}

.line7{
    width: 100%;
    height: 13%;
    margin: 0.6vh;
}

.inputted_text{
    height: 3vh;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background: #eff0f3;
    color: #6246ea;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #eff0f3;
    color: #6246ea;
}

.btn-primary.outline {
    border: 3px solid #6246ea;
    color: #6246ea;
}


@media print{
    .print_block{
        display: block;
        color: #6246ea;
        margin: 5vh 0;
    }
    .print_hide{
        display: none !important;
    }
}