.print_block{
    display: block !important;
    color: #6246ea;
    margin: 5vh 0;
}
.print_hide{
    display: none !important;
}

.box{
    display: grid !important;
}

.inputted_text{
    justify-content: center !important;
    align-items: center !important;
}